body {
  font: 300 $fz "Arial", sans-serif;
  color: $text-color;
}

a {
  color: $color-link;
  cursor: pointer;
  transition: $transition-time;

  &:hover {
    text-decoration: none;
    color: $color-link--hover;
  }
}

button {
  transition: $transition-time;
  cursor: pointer;
}

img {
  max-width: 100%;
}
