extends pug/layout.pug

block meta
  title Главная
block header
  +page-header()
block content
  main
    ul
      li
        a(href="/") Главная
      //- li
      //-   a(href="/") Главная
      //- li
      //-   a(href="/") Главная
      //- li
      //-   a(href="/") Главная
      //- li
      //-   a(href="/") Главная
block footer
  +page-footer()
